.contact-form{
    max-width: 600px;
}

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
}

h1,h2{
    text-align: center;
    color:black;
}

body{
    background-size: cover;
    background-image: url('../images/background.jpg');
}

p {
    font-size: large;
}

i.fab{
    font-size: 25px;
    color: black;
}
.projects{
    margin-bottom: 10px;
    page-break-after:auto;
}